/** font ตัวอย่างสามารถ เอา font อื่นมาใช้ได้*/

@import '../fonts/Roboto/style.css';

/** Variable ตัวแปรที่ใช้บ่อยๆ เช่น สี เป็นต้น*/

@import './variables/index';

/** theme จะเป็น style หลักของเว็บ */

@import './themes/index';

/** compoenent จะเป็นส่วนประกอบย่อยๆ เช่น ปุ่ม เป็นต้น*/

@import './components/index';
* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@prim: #53e3a6;
body {
    margin: 0;
    background: #e9ebee;
    color: #1d2129;
    table th {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        //text-align: center!important;
    }
    .grecaptcha-badge {
        bottom: 50px !important;
    }
    font-family: 'Sarabun',
    sans-serif;
}

.CLheader {
    .logo {
        content: url(https://person.rtaf.mi.th/web/images/download/RTAFlogo.png);
        width: 200px;
        height: 100%;
        //float: left;
        margin-right: 5%;
        margin: 0 auto;
    }
    .navbar-light .navbar-toggler {
        color: #020202;
        border-color: #826a6a;
        background-color: #2d344a;
    }
}

.CLlogin {
    /*class ของหน้า login */
    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 200;
        src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 300;
        src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
    }
    .icon {
        padding-top: 15px;
        color: white;
        min-width: 50px;
        text-align: center;
        font-size: large;
    }
    .wrapper {
        //background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
        background-image: linear-gradient(0deg, rgba(29, 4, 121, 0.493), rgba(24, 12, 54, 0.562)), url(../img/login_BG.png);
        background-repeat: round;
        position: absolute;
        //top: 20%;
        width: 100%;
        height: 100%;
        //margin-top: -200px;
        overflow: auto;
    }
    .wrapper.form-success .container h1 {
        -webkit-transform: translateY(85px);
        transform: translateY(85px);
    }
    .container {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        padding: 100px 0;
        height: 100%;
        text-align: center;
    }
    .container h1 {
        color: #FFF;
        font-size: 40px;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: ease-in-put;
        transition-timing-function: ease-in-put;
        font-weight: 200;
    }
    form {
        padding: 20px 0;
        position: relative;
        z-index: 2;
        width: 100%;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }
    form input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgb(255, 254, 254);
        width: 90%;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 16px;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        font-weight: 300;
    }
    form input:hover {
        background-color: rgb(153, 14, 14);
        color: white;
    }
    form input:hover::placeholder {
        color: white;
    }
    form input:focus {
        background-color: white;
        color: #0e1110;
    }
    form button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 0;
        padding: 10px 15px;
        //color: rgb(216, 216, 216);
        border-radius: 3px;
        width: 150px;
        cursor: pointer;
        font-size: 15px;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        margin-left: 2%;
        margin-right: 2%;
    }
    /*  button:nth-last-child(2) {
        background-color: yellow;
        color: black;
    }
    button:nth-last-child(1) {
        background-color: blue;
    }
    form button:hover {
        background-color: #f5f7f9;
    } */
}

.CLleftbar {
    /*---------------------------------------------class leftbar------------------*/
    @keyframes swing {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(10deg);
        }
        30% {
            transform: rotate(0deg);
        }
        40% {
            transform: rotate(-10deg);
        }
        50% {
            transform: rotate(0deg);
        }
        60% {
            transform: rotate(5deg);
        }
        70% {
            transform: rotate(0deg);
        }
        80% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes sonar {
        0% {
            transform: scale(0.9);
            opacity: 1;
        }
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
    body {
        font-size: 0.9rem;
    }
    .page-wrapper .sidebar-wrapper,
    .sidebar-wrapper .sidebar-brand>a,
    .sidebar-wrapper .sidebar-dropdown>a:after,
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
    .sidebar-wrapper ul li a i,
    .page-wrapper .page-content,
    .sidebar-wrapper .sidebar-search input.search-menu,
    .sidebar-wrapper .sidebar-search .input-group-text,
    .sidebar-wrapper .sidebar-menu ul li a,
    #show-sidebar,
    #close-sidebar {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    /*----------------page-wrapper----------------*/
    .page-wrapper {
        height: 100vh;
    }
    .page-wrapper .theme {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 4px;
        margin: 2px;
    }
    .page-wrapper .theme.chiller-theme {
        background: #1e2229;
    }
    /*----------------toggeled sidebar----------------*/
    .page-wrapper.toggled .sidebar-wrapper {
        left: 0px;
        top: 60px;
    }
    @media screen and (min-width: 768px) {
        .page-wrapper.toggled .page-content {
            padding-left: 300px;
        }
    }
    /*----------------show sidebar button----------------*/
    #show-sidebar {
        position: fixed;
        left: 0;
        top: 60px;
        border-radius: 0 4px 4px 0px;
        width: 35px;
        transition-delay: 0.3s;
    }
    .page-wrapper.toggled #show-sidebar {
        left: -40px;
    }
    /*----------------sidebar-wrapper----------------*/
    .sidebar-wrapper {
        width: 260px;
        height: 90%;
        max-height: 100%;
        position: fixed;
        top: 60px;
        left: -300px;
        z-index: 999;
    }
    .sidebar-wrapper ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .sidebar-wrapper a {
        text-decoration: none;
    }
    /*----------------sidebar-content----------------*/
    .sidebar-content {
        max-height: calc(100% - 30px);
        height: calc(100% - 30px);
        overflow-y: auto;
        position: relative;
    }
    .sidebar-content.desktop {
        overflow-y: hidden;
    }
    /*--------------------sidebar-brand----------------------*/
    .sidebar-wrapper .sidebar-brand {
        padding: 10px 20px;
        display: flex;
        align-items: center;
    }
    .sidebar-wrapper .sidebar-brand>a {
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
    }
    .sidebar-wrapper .sidebar-brand #close-sidebar {
        cursor: pointer;
        font-size: 20px;
    }
    /*--------------------sidebar-header----------------------*/
    .sidebar-wrapper .sidebar-header {
        padding: 20px;
        overflow: hidden;
    }
    .sidebar-wrapper .sidebar-header .user-pic {
        float: left;
        width: 60px;
        padding: 2px;
        border-radius: 12px;
        margin-right: 15px;
        overflow: hidden;
    }
    .sidebar-wrapper .sidebar-header .user-pic img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .sidebar-wrapper .sidebar-header .user-info {
        float: left;
    }
    .sidebar-wrapper .sidebar-header .user-info>span {
        display: block;
    }
    .sidebar-wrapper .sidebar-header .user-info .user-role {
        font-size: 12px;
    }
    .sidebar-wrapper .sidebar-header .user-info .user-status {
        font-size: 11px;
        margin-top: 4px;
    }
    .sidebar-wrapper .sidebar-header .user-info .user-status i {
        font-size: 8px;
        margin-right: 4px;
        color: #5cb85c;
    }
    /*-----------------------sidebar-search------------------------*/
    .sidebar-wrapper .sidebar-search>div {
        padding: 10px 20px;
    }
    /*----------------------sidebar-menu-------------------------*/
    .sidebar-wrapper .sidebar-menu {
        padding-bottom: 10px;
    }
    .sidebar-wrapper .sidebar-menu .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
    }
    .sidebar-wrapper .sidebar-menu ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding: 8px 30px 8px 20px;
    }
    .sidebar-wrapper .sidebar-menu ul li a i {
        margin-right: 10px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
    }
    .sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
        display: inline-block;
        animation: swing ease-in-out 0.5s 1 alternate;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        font-style: normal;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 15px;
        top: 14px;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
        padding: 5px 0;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
        padding-left: 25px;
        font-size: 13px;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        font-size: 8px;
    }
    .sidebar-wrapper .sidebar-menu ul li a span.label,
    .sidebar-wrapper .sidebar-menu ul li a span.badge {
        float: right;
        margin-top: 8px;
        margin-left: 5px;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
        float: right;
        margin-top: 0px;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-submenu {
        display: none;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
        transform: rotate(90deg);
        right: 17px;
    }
    /*--------------------------side-footer------------------------------*/
    .sidebar-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
    }
    .sidebar-footer>a {
        flex-grow: 1;
        text-align: center;
        height: 30px;
        line-height: 30px;
        position: relative;
    }
    .sidebar-footer>a .notification {
        position: absolute;
        top: 0;
    }
    .badge-sonar {
        display: inline-block;
        background: #980303;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 0;
    }
    .badge-sonar:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #980303;
        opacity: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: sonar 1.5s infinite;
    }
    /*--------------------------page-content-----------------------------*/
    .page-wrapper .page-content {
        display: inline-block;
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
    }
    .page-wrapper .page-content>div {
        padding: 20px 40px;
    }
    .page-wrapper .page-content {
        overflow-x: hidden;
    }
    /*------scroll bar---------------------*/
     ::-webkit-scrollbar {
        width: 5px;
        height: 7px;
    }
     ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
     ::-webkit-scrollbar-thumb {
        background: #525965;
        border: 0px none #ffffff;
        border-radius: 0px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #525965;
    }
     ::-webkit-scrollbar-thumb:active {
        background: #525965;
    }
     ::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
     ::-webkit-scrollbar-track:hover {
        background: transparent;
    }
     ::-webkit-scrollbar-track:active {
        background: transparent;
    }
     ::-webkit-scrollbar-corner {
        background: transparent;
    }
    /*-----------------------------chiller-theme-------------------------------------------------*/
    .chiller-theme .sidebar-wrapper {
        background: #31353D;
    }
    .chiller-theme .sidebar-wrapper .sidebar-header,
    .chiller-theme .sidebar-wrapper .sidebar-search,
    .chiller-theme .sidebar-wrapper .sidebar-menu {
        border-top: 1px solid #3a3f48;
    }
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
        border-color: transparent;
        box-shadow: none;
    }
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
    .chiller-theme .sidebar-wrapper .sidebar-brand>a,
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
    .chiller-theme .sidebar-footer>a {
        color: #818896;
    }
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
    .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
    .chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
    .chiller-theme .sidebar-footer>a:hover i {
        color: #b8bfce;
    }
    .page-wrapper.chiller-theme.toggled #close-sidebar {
        color: #bdbdbd;
    }
    .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
        color: #ffffff;
    }
    .chiller-theme .sidebar-wrapper ul li:hover a i,
    .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
        color: #16c7ff;
        text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
    }
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
    .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
    .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
    .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
        background: #3a3f48;
    }
    .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
        color: #6c7b88;
    }
    .chiller-theme .sidebar-footer {
        background: #3a3f48;
        box-shadow: 0px -1px 5px #282c33;
        border-top: 1px solid #464a52;
    }
    .chiller-theme .sidebar-footer>a:first-child {
        border-left: none;
    }
    .chiller-theme .sidebar-footer>a:last-child {
        border-right: none;
    }
}

.C_Status {
    .checkbox1.ant-switch-checked {
        background-color: #ff1818;
    }
    .checkbox2.ant-switch-checked {
        background-color: #fff018;
    }
}

.C_Manage {
    .checkbox1.ant-switch-checked {
        background-color: #ff1818;
    }
    .checkbox2.ant-switch-checked {
        background-color: #fff018;
    }
    .table-row-blue {
        background-color: #0084ff;
    }
    .table-row-red {
        background-color: #d54062;
    }
    .table-row-yellow {
        background-color: #ebdc87;
    }
}

.C_reportdanger {
    .modalview {
        text-align: center;
    }
}

.C_addreportdanger {
    .ck-editor__editable {
        min-height: 300px;
    }
}