@charset "UTF-8";
/** font ตัวอย่างสามารถ เอา font อื่นมาใช้ได้*/
@import '../fonts/Roboto/style.css';
/** Variable ตัวแปรที่ใช้บ่อยๆ เช่น สี เป็นต้น*/
/** theme จะเป็น style หลักของเว็บ */
/** compoenent จะเป็นส่วนประกอบย่อยๆ เช่น ปุ่ม เป็นต้น*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
* {
  box-sizing: border-box;
}

@prim : #53e3a6;
body {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
  font-family: "Sarabun", sans-serif;
}
body table th {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
body .grecaptcha-badge {
  bottom: 50px !important;
}

.CLheader .logo {
  content: url(https://person.rtaf.mi.th/web/images/download/RTAFlogo.png);
  width: 200px;
  height: 100%;
  margin-right: 5%;
  margin: 0 auto;
}
.CLheader .navbar-light .navbar-toggler {
  color: #020202;
  border-color: #826a6a;
  background-color: #2d344a;
}

.CLlogin {
  /*class ของหน้า login */
  /*  button:nth-last-child(2) {
      background-color: yellow;
      color: black;
  }
  button:nth-last-child(1) {
      background-color: blue;
  }
  form button:hover {
      background-color: #f5f7f9;
  } */
}
@font-face {
  .CLlogin {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format("truetype");
  }
}
@font-face {
  .CLlogin {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format("truetype");
  }
}
.CLlogin .icon {
  padding-top: 15px;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size: large;
}
.CLlogin .wrapper {
  background-image: linear-gradient(0deg, rgba(29, 4, 121, 0.493), rgba(24, 12, 54, 0.562)), url(../img/login_BG.png);
  background-repeat: round;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.CLlogin .wrapper.form-success .container h1 {
  transform: translateY(85px);
}
.CLlogin .container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
  height: 100%;
  text-align: center;
}
.CLlogin .container h1 {
  color: #FFF;
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
.CLlogin form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}
.CLlogin form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #fffefe;
  width: 90%;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.25s;
  font-weight: 300;
}
.CLlogin form input:hover {
  background-color: #990e0e;
  color: white;
}
.CLlogin form input:hover::placeholder {
  color: white;
}
.CLlogin form input:focus {
  background-color: white;
  color: #0e1110;
}
.CLlogin form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.25s;
  margin-left: 2%;
  margin-right: 2%;
}

.CLleftbar {
  /*---------------------------------------------class leftbar------------------*/
  /*----------------page-wrapper----------------*/
  /*----------------toggeled sidebar----------------*/
  /*----------------show sidebar button----------------*/
  /*----------------sidebar-wrapper----------------*/
  /*----------------sidebar-content----------------*/
  /*--------------------sidebar-brand----------------------*/
  /*--------------------sidebar-header----------------------*/
  /*-----------------------sidebar-search------------------------*/
  /*----------------------sidebar-menu-------------------------*/
  /*--------------------------side-footer------------------------------*/
  /*--------------------------page-content-----------------------------*/
  /*------scroll bar---------------------*/
  /*-----------------------------chiller-theme-------------------------------------------------*/
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.CLleftbar body {
  font-size: 0.9rem;
}
.CLleftbar .page-wrapper .sidebar-wrapper,
.CLleftbar .sidebar-wrapper .sidebar-brand > a,
.CLleftbar .sidebar-wrapper .sidebar-dropdown > a:after,
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.CLleftbar .sidebar-wrapper ul li a i,
.CLleftbar .page-wrapper .page-content,
.CLleftbar .sidebar-wrapper .sidebar-search input.search-menu,
.CLleftbar .sidebar-wrapper .sidebar-search .input-group-text,
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a,
.CLleftbar #show-sidebar,
.CLleftbar #close-sidebar {
  transition: all 0.3s ease;
}
.CLleftbar .page-wrapper {
  height: 100vh;
}
.CLleftbar .page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.CLleftbar .page-wrapper .theme.chiller-theme {
  background: #1e2229;
}
.CLleftbar .page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
  top: 60px;
}
@media screen and (min-width: 768px) {
  .CLleftbar .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
.CLleftbar #show-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.CLleftbar .page-wrapper.toggled #show-sidebar {
  left: -40px;
}
.CLleftbar .sidebar-wrapper {
  width: 260px;
  height: 90%;
  max-height: 100%;
  position: fixed;
  top: 60px;
  left: -300px;
  z-index: 999;
}
.CLleftbar .sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.CLleftbar .sidebar-wrapper a {
  text-decoration: none;
}
.CLleftbar .sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
.CLleftbar .sidebar-content.desktop {
  overflow-y: hidden;
}
.CLleftbar .sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.CLleftbar .sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}
.CLleftbar .sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
.CLleftbar .sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-info {
  float: left;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.CLleftbar .sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
.CLleftbar .sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a span.label,
.CLleftbar .sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}
.CLleftbar .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
.CLleftbar .sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}
.CLleftbar .sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.CLleftbar .sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}
.CLleftbar .badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}
.CLleftbar .badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}
.CLleftbar .page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}
.CLleftbar .page-wrapper .page-content > div {
  padding: 20px 40px;
}
.CLleftbar .page-wrapper .page-content {
  overflow-x: hidden;
}
.CLleftbar ::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.CLleftbar ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.CLleftbar ::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.CLleftbar ::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
.CLleftbar ::-webkit-scrollbar-thumb:active {
  background: #525965;
}
.CLleftbar ::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.CLleftbar ::-webkit-scrollbar-track:hover {
  background: transparent;
}
.CLleftbar ::-webkit-scrollbar-track:active {
  background: transparent;
}
.CLleftbar ::-webkit-scrollbar-corner {
  background: transparent;
}
.CLleftbar .chiller-theme .sidebar-wrapper {
  background: #31353D;
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-header,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-brand > a,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.CLleftbar .chiller-theme .sidebar-footer > a {
  color: #818896;
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.CLleftbar .chiller-theme .sidebar-footer > a:hover i {
  color: #b8bfce;
}
.CLleftbar .page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}
.CLleftbar .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}
.CLleftbar .chiller-theme .sidebar-wrapper ul li:hover a i,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}
.CLleftbar .chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}
.CLleftbar .chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}
.CLleftbar .chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}
.CLleftbar .chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}

.C_Status .checkbox1.ant-switch-checked {
  background-color: #ff1818;
}
.C_Status .checkbox2.ant-switch-checked {
  background-color: #fff018;
}

.C_Manage .checkbox1.ant-switch-checked {
  background-color: #ff1818;
}
.C_Manage .checkbox2.ant-switch-checked {
  background-color: #fff018;
}
.C_Manage .table-row-blue {
  background-color: #0084ff;
}
.C_Manage .table-row-red {
  background-color: #d54062;
}
.C_Manage .table-row-yellow {
  background-color: #ebdc87;
}

.C_reportdanger .modalview {
  text-align: center;
}

.C_addreportdanger .ck-editor__editable {
  min-height: 300px;
}